dsi_schema_assurance==1.0.4
python-dotenv==1.0.1
rdflib==6.3.2
telicent_ies_tool==1.0.3
confluent_kafka==2.3.0
colored==1.4.4
PyJWT==2.8.0
pytz==2022.6
Requests==2.32.3
Werkzeug==3.1.3
opentelemetry-api==1.29.0
pandas==2.2.3
azure-storage-blob==12.24.1